{{#with (object account)}}
    <div class="container d-flex align-items-center">
        <img class="profile-avatar" src="{{avatar}}" alt="avatar" />
        <div class="infor">
            <h3>{{username}}</h3>
            <p>Full name: {{fullname}}</p>
            <p>Age: {{age}}</p>
            <p>Address: {{adress}}</p>
            <p>Phone: {{phone}}</p>
        </div>
    </div>
{{/with}}